Webhook/assets/template/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_rdc_LA_WebHook_Message_name": {
            "defaultValue": "rdc-LA-WebHook-Message",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_rdc_LA_WebHook_Message_name')]",
            "location": "eastus",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "Initialize_szAuthorizationHeaderValue": {
                            "runAfter": {
                                "Initialize_var_ValidationToken": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "szAuthorizationHeaderValue",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_var_ContentType": {
                            "runAfter": {
                                "Parse_JSON_Headers": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "szContentType",
                                        "type": "string",
                                        "value": "@{body('Parse_JSON_Headers')?['Content-Type']}"
                                    }
                                ]
                            }
                        },
                        "Initialize_var_ValidationToken": {
                            "runAfter": {
                                "Initialize_var_ContentType": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "szValidationToken",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON_Headers": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerOutputs()['headers']",
                                "schema": {
                                    "properties": {
                                        "headers": {
                                            "properties": {
                                                "Accept": {
                                                    "type": "string"
                                                },
                                                "Connection": {
                                                    "type": "string"
                                                },
                                                "Content-Length": {
                                                    "type": "string"
                                                },
                                                "Content-Type": {
                                                    "type": "string"
                                                },
                                                "Host": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Switch": {
                            "runAfter": {
                                "Initialize_szAuthorizationHeaderValue": [
                                    "Succeeded"
                                ]
                            },
                            "cases": {
                                "Case_Application_Json": {
                                    "case": "application/json; charset=utf-8",
                                    "actions": {
                                        "Ack_Notification_By_Sending_Accept_Response": {
                                            "runAfter": {},
                                            "type": "Response",
                                            "kind": "Http",
                                            "inputs": {
                                                "statusCode": 202
                                            }
                                        },
                                        "Compose_MessageID": {
                                            "runAfter": {
                                                "Parse_JSON_HTTP_Trigger_Body": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@body('Parse_JSON_HTTP_Trigger_Body')['value'][0]['resourceData']['id']"
                                        },
                                        "HTTP": {
                                            "runAfter": {
                                                "Set_szAuthToken": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "headers": {
                                                    "Authorization": "@variables('szAuthorizationHeaderValue')"
                                                },
                                                "method": "GET",
                                                "uri": "https://graph.microsoft.com/v1.0/users/<SHARED_MAILBOX>@<DOMAIN>.onmicrosoft.com/messages/@{outputs('Compose_MessageID')}?$select=subject,bodyPreview"
                                            }
                                        },
                                        "HTTP_Get_oAuthToken": {
                                            "runAfter": {
                                                "Compose_MessageID": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "body": "grant_type=password&resource=https://graph.microsoft.com&client_id=<CLIEND_ID>&username=<USER>@mngenvmcap363555.onmicrosoft.com&password=<PASSWORD>&client_secret=<CLIENT_SECRET>",
                                                "headers": {
                                                    "Content-Type": "application/x-www-form-urlencoded"
                                                },
                                                "method": "POST",
                                                "uri": "https://login.microsoftonline.com/<SUBID>"
                                            }
                                        },
                                        "Parse_JSON_AuthToken": {
                                            "runAfter": {
                                                "HTTP_Get_oAuthToken": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('HTTP_Get_oAuthToken')",
                                                "schema": {
                                                    "properties": {
                                                        "access_token": {
                                                            "type": "string"
                                                        },
                                                        "expires_in": {
                                                            "type": "string"
                                                        },
                                                        "expires_on": {
                                                            "type": "string"
                                                        },
                                                        "ext_expires_in": {
                                                            "type": "string"
                                                        },
                                                        "not_before": {
                                                            "type": "string"
                                                        },
                                                        "resource": {
                                                            "type": "string"
                                                        },
                                                        "token_type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "Parse_JSON_HTTP_Trigger_Body": {
                                            "runAfter": {
                                                "Ack_Notification_By_Sending_Accept_Response": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@triggerBody()",
                                                "schema": {
                                                    "properties": {
                                                        "value": {
                                                            "items": {
                                                                "properties": {
                                                                    "changeType": {
                                                                        "type": "string"
                                                                    },
                                                                    "clientState": {
                                                                        "type": "string"
                                                                    },
                                                                    "resource": {
                                                                        "type": "string"
                                                                    },
                                                                    "resourceData": {
                                                                        "properties": {
                                                                            "@@odata.id": {
                                                                                "type": "string"
                                                                            },
                                                                            "@@odata.type": {
                                                                                "type": "string"
                                                                            },
                                                                            "activity": {
                                                                                "type": "string"
                                                                            },
                                                                            "availability": {
                                                                                "type": "string"
                                                                            },
                                                                            "id": {}
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "subscriptionExpirationDateTime": {
                                                                        "type": "string"
                                                                    },
                                                                    "subscriptionId": {
                                                                        "type": "string"
                                                                    },
                                                                    "tenantId": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "subscriptionId",
                                                                    "clientState",
                                                                    "changeType",
                                                                    "resource",
                                                                    "subscriptionExpirationDateTime",
                                                                    "resourceData",
                                                                    "tenantId"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "Set_szAuthToken": {
                                            "runAfter": {
                                                "Parse_JSON_AuthToken": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "szAuthorizationHeaderValue",
                                                "value": "Bearer @{body('Parse_JSON_AuthToken')?['access_token']}"
                                            }
                                        }
                                    }
                                },
                                "Case_Plain_Text": {
                                    "case": "text/plain; charset=utf-8",
                                    "actions": {
                                        "Ack_Validation_By_Responding_with_Validation_Confirmation": {
                                            "runAfter": {
                                                "Compose_ValidationToken": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Response",
                                            "kind": "Http",
                                            "inputs": {
                                                "body": "@outputs('Compose_ValidationToken')",
                                                "headers": {
                                                    "Content-Type": "text/plain"
                                                },
                                                "statusCode": 200
                                            }
                                        },
                                        "Compose_ValidationToken": {
                                            "runAfter": {},
                                            "type": "Compose",
                                            "inputs": "@triggerOutputs()['queries']['validationToken']"
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@variables('szContentType')",
                            "type": "Switch"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}